extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      input#room.form-control(name='room' list='rooms' required='true' value=(undefined===item ? '' : item.room) )
      datalist(id='rooms')
        option(value='Kitchen') Kitchen
        option(value='Molecular') Molecular 
        option(value='Mouse Room') Mouse Room
        option(value='Cell Culture') Cell Culture 
        option(value='Hallway') Hallway
        option(value='Office') Office
        option(value='Closet') Closet
        option(value='Home') Home
      br
      input#container.form-control(type='text', placeholder='Container' name='container' value=(undefined===item ? '' : item.container) )
      br
      input#content.form-control(type='text', placeholder='Content' name='content' required='true' value=(undefined===item ? '' : item.content) )
    button.btn.btn-primary(type='submit') Submit
  br
  a(href='/') Cancel
  if errors
    ul
      for error in errors
        li!= error.msg
  script. 
    console.log('hi');
